body {
    margin: 0;
    align-items: center;
    display: flex;
  
    justify-content: center;
}

.calculator {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
  }

  .display {
    background-color: #222222;
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em 0.75em;
    text-align: right;
  }

.keys {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    outline: none;
    background-color: white;
}

.key-operator {
    background-color: rgb(221, 221, 221);
}
.equal-key {
    background-image: linear-gradient(to bottom, #b4ffb4, #98cb6e);
    grid-column: -2;
    grid-row: 2 /span 4;
}